@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Outfit:wght@100..900&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Outfit", sans-serif;
}

/* Navigation Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #219ebc;
    height: 50px;
    box-shadow: 0px 0px 10px #ffffff;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
    text-transform: capitalize;
    cursor: pointer;
}

nav ul a {
    text-decoration: none;
    color: beige;
}

/* Footer Styles */
.footer {
    background-color: #219ebc;
    color: beige;
    padding: 20px 0;
    text-align: center;
}

.footer a {
    color: beige;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* Services Section */
.col-lg-6 img {
    border-radius: 100%;
}

.row {
    padding: 0% 10%;
}

.service-container {
    padding: 5% 7%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.service-item img.icon-img {
    max-width: 60px; /* Adjust the size of the icon */
    margin-bottom: 20px;
}

.service-item h4 {
    margin-bottom: 15px;
    font-size: 24px;
    color: rgb(185, 6, 6);
}

.service-item span {
    font-size: 14px;
    color: #555;
}

/* Centered Header */
.container-top {
    max-width: 950px;
    margin: 0 auto;
    height: 100px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-top h1 {
    font-size: 50px;
    text-transform: capitalize;
    color: #333;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    .service-container {
        grid-template-columns: 1fr;
    }
}
